.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;

}

.modal{
    position: absolute;
    left: 50%;
    top: 55%;
    display: block;
    width: 40%;
    height: 80%;
    transform: translate(-50%, -50%);
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fffffff4;
    border-radius: 25px;
    border: thick double rgba(133, 133, 133, 0.87);
    
}


.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 1%;
    top: 1%;
    width: 70px ;
    height: 70px;
    cursor: pointer;
    border: 1px ;
    background: none;

}

.card{
    width: 400px;
    height: 550px;
    background-color: #eeeeedd7;
    border-radius: 10px;
    border: 3px solid #bb7e0df7;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.5);

  
  }

  .h1{
    width: 80%;
    font-size: 23px;
    font-weight: 800;
    text-align: center;
    /* text-decoration: none; */
  }

  /* h1:hover {
    text-decoration: underline;
   } */

  .h2{
    width: 80%;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-top: 40px;
  }
  .h4{
    width: 80%;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
  }

  .h3{
    width: 90%;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    /* margin-top: 10px; */
  }

  .h5{
    width: 90%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
  }


  .img{
    height: 40%;
    margin-top: 30px;
    width: auto;

  }
  
  .img1{
    height: 45%;
    width: auto;
  }

.sum {
  font-size: 27px;
  font-weight: 700;
}

.btn {
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: #8F330B;
  box-shadow: 0 5px 0 #BB7D0D;
  margin-bottom: 20px;
}

.btn:hover {
  background: #BB7D0D;
  box-shadow: none;
  position: relative;
  top: 5px;
}