.background{
    /* background-image: url('../../assets/images/backgrounds/1.svg'); */
    background-size:cover;
    width: 1920px;
    height: 300px;
    max-width: 100vw;
    display: flex;
    align-items: center;
   background-color: #4E4036;
   
}
.wrapper{
    width: 1400px;
    align-items: flex-start;
    margin: 0 auto;
    display: flex; 
    /* padding-bottom: 20px; */
    justify-content: space-between;
    /* gap: 400px; */
}

.wrapper1{
    width: 400px;
    align-items: center;
    margin: 0 auto;
    align-items:last baseline;
    display: flex; 
    color:antiquewhite;
    /* padding-bottom: 20px; */
    justify-content: space-evenly;
    text-decoration: 'none';
    flex-direction: column;
}
.wrapper12{
  width: 400px;
  align-items: center;
  margin: 0 auto;
  align-items:center;
  display: flex; 
  color:antiquewhite;
  /* padding-bottom: 20px; */
  justify-content: space-evenly;
  text-decoration: 'none';
  flex-direction: column;
}

.wrapper2{
    font-size: 20px;
    margin: 0 auto;
    margin-right: '50px';
    color:antiquewhite;
    text-decoration: none;
}

  .wrapper3{
    font-size: 20px;
    background-color: #4E4036; /* Четвертый аргумент от 0 до 1 определяет прозрачность */
    width: 170px;
  border: 1px solid #4E4036; /* Границы кнопки */
    color:antiquewhite;
    text-decoration: 'none';
}

  .coloredText {
    color: #BB7D0D;
    font-size: 12px;
  }
  .wrapper1 p {
    margin: 0px 0; /* Уменьшенный отступ сверху и снизу */
  }
  .wrapper1 a {
    margin-bottom: 10px;
    text-decoration: none;
  }
  .coloredText1 + a {
    margin-top: 20px; /* Увеличенный отступ сверху для следующего элемента после .coloredText */
    margin-bottom: 10px;  
  }

  @media (max-width: 1450px) {

   
  .wrapper{
    width: 1180px;
      align-items: flex-start;
      margin: 0 auto;
      display: flex; 
      /* padding-bottom: 20px; */
      justify-content: space-around;
      
      align-content: center;
      flex-wrap: wrap
  }
  
  .wrapper1{
    width: 32%;
      align-items: center;
      margin: 0 auto;
      align-items:last baseline;
      align-content: center;
      display: flex; 
      color:antiquewhite;
      /* padding-bottom: 20px; */
      justify-content: space-evenly;
      text-decoration: 'none';
      flex-direction: column;
      flex-wrap: wrap
  }
  .wrapper12{
    width: 35%;
    align-items: center;
    margin: 0 auto;
    align-items:center;
    display: flex; 
    color:antiquewhite;
    /* padding-bottom: 20px; */
    justify-content: space-evenly;
    text-decoration: 'none';
    flex-direction: column;
    align-content: center;
  }
  
  .wrapper2{
      font-size: 20px;
      margin: 0 auto;
      margin-right: '50px';
      color:antiquewhite;
      text-decoration: none;
  }
  
    .wrapper3{
      font-size: 20px;
      background-color: #4E4036; /* Четвертый аргумент от 0 до 1 определяет прозрачность */
      width: 170px;
    border: 1px solid #4E4036; /* Границы кнопки */
      color:antiquewhite;
      text-decoration: 'none';
  }
  
    .coloredText {
      color: #BB7D0D;
      font-size: 12px;
    }
    .wrapper1 p {
      margin: 0px 0; /* Уменьшенный отступ сверху и снизу */
    }
    .wrapper1 a {
      margin-bottom: 10px;
      text-decoration: none;
    }
    .coloredText1 + a {
      margin-top: 20px; /* Увеличенный отступ сверху для следующего элемента после .coloredText */
      margin-bottom: 10px;  
    }

  }


