.info {
  display: flex;
  margin-top: 80px;
  margin-bottom: 20px;
  flex-direction: column;
  font-size: 18px;
}

.table {
  width: 100%;
  border: none;
  top: 200px;
}

.table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 22px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.table tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px 15px;
  font-size: 18px;
  vertical-align: top;
}



.table td:first-child {
  width: 40px;
}

.table td:nth-child(4), .table td:nth-child(5)  {
	width: fit-content;
  }

.table thead tr th:first-child,
.table tbody tr td:first-child {
  border-left: none;
}
.table thead tr th:last-child,
.table tbody tr td:last-child {
  border-right: none;
}
.table tbody tr:nth-child(even) {
  background: #f3f3f3;
}
