/* .wrapper{
  background-image: url('../../assets/images/background/15.jpg');
  background-size:cover;
  width: 1920px;
  height: 1080px;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  max-height: 100vh;
} */
 


.wrapper_content{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  
}

.topDiv{
  margin: 100px;
  margin-top: 80px !important;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 60px;
  font-weight: 900;
  color: #504036;
  height: 120px;
}

.coloredText {
  color: #BB7D0D;
}

.container {
  display: flex;
  justify-content: space-between;
}

.mini {
  display: flex;
  justify-content: space-between;
  flex-direction:column;
  align-items:center;
}

.btn{
  background-color: #8F330B;
  color: white;
  margin: 10px;
  /* text-transform: uppercase; */
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

.btn2{

  text-decoration: none;
 
}
.mini2 {
  margin: 10px;
  font-size: 25px;
  width: 80%;
  margin-left: 40px;
  font-weight: 900;
  width: 400px;
  height: 168px;
  border-radius: 10px;
  color: #FFFFFF;
  background: #504036;
  text-align: center;
  margin: 20px;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  align-items:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crap{
  width: 530px;
  position: absolute;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1450px) {
 
  .topDiv{
    margin: 100px;
    margin-top: 80px !important;
  }
  
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    
    color: #504036;
    height: 120px;
  }
  
  .coloredText {
    color: #BB7D0D;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .mini {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items:center;
  }
  
  .btn{
    background-color: #8F330B;
    color: white;
    margin: 10px;
    /* text-transform: uppercase; */
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  
  .btn2{
  
    text-decoration: none;
   
  }
  .mini2 {
    margin: 10px;
    font-size: 22px;
    width: 80%;
    margin-left: 40px;
    font-weight: 900;
    width: 400px;
    height: 168px;
    border-radius: 10px;
    color: #FFFFFF;
    background: #504036;
    text-align: center;
    margin: 20px;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items:center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  .pic {
      width: 300px;
      height: 300px;
  }
  .btn,
  .mini2 {
    width: 300px; /* Уменьшение ширины кнопки */
    height: 110px; /* Уменьшение высоты кнопки */
  }
  .btn {
    width: 300px; /* Уменьшение ширины кнопки */
    height: 50px; /* Уменьшение высоты кнопки */
  }
}